<!DOCTYPE html>
<html lang="en">



<head>
<title>about us</title>
<% include ./partials/head %>
</head>
<body style="Background-color:white!important;">

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" data-aos="fade-down" data-aos-delay="500">

    <% include ./partials/aboutnav %>
</nav>


    <section class="ftco-cover overlay" style="background-image: url(images/aboutus.jpg);" id="section-home" data-aos="fade" data-stellar-background-ratio="0.5">
        <!--<div class="overlay"></div>-->
        <div class="container">
        <div class="row align-items-center justify-content-center ftco-vh-100">
        <div class="col-md-9 text-center">
        <h1 class="ftco-heading mb-4" data-aos="fade-up" data-aos-delay="500">About Us</h1>
        <h2 class="h5 ftco-subheading mb-5" data-aos="fade-up" data-aos-delay="600"> <a href="" target="_blank"></a></h2>
        </div>
        </div>
        </div>
        </section>

        <section class="ftco-section-2">
            <div class="container">
            <div class="row pt-5">
            <div class="col-md-12 text-center mb-5 pt-5" data-aos="fade-up">

              <h4 class="font-weight-bold">Who we are</h6>
            <h5 class="ftco-heading heading-thin mb-5"><p><b>PrimeCapital Consulting Limited</b> is a leading Nigerian owned
                Business and Management consulting firm, based in Abuja Nigeria. PrimeCapital is one of Africa's fastest
                growing consulting firm, leading experts in helping clients grow great brands. We are constantly analysing,
                understanding and interpreting the world around us. We make a meaningful impact on our
                clients' businesses by using our insight and knowledge to help build brand value and drive
                marketing efficiency.</p>
                <p>We bring a unique, cross-disciplinary approach to clients' challenges, ensuring the right balance of
                expertise, real world experience and best practices across business strategy, Market Research,
                Mystery Shopping Services, human capital development, outsourcing services and executive &
                talent development.</p>
                <p><b>Prime Capital </b> transforms forward-thinking organizations through award-winning and
                innovative solutions. Our team have a reputation for maximizing our client's IT investment with
                cutting-edge solutions that consider people, process and technology. From consulting to
                implementation and managed services, our goal is to maximize your investment and provide a
                quality end-to-end experience that modernizes and improves your business.</p></h5>
            </div>
            </div>
            </div>
            <div class="container-fluid">
            <div class="section-2-blocks-wrapper row no-gutters">
             
            <div class="img col-sm-12 col-md-6" style="background-image: url('images/mission.jpg');" data-aos="fade-right">
            <!--<a href="https://vimeo.com/45830194" class="button popup-vimeo" data-aos="fade-right" data-aos-delay="700"><span class="ion-ios-play"></span></a>-->
            </div>
            <div class="text col-md-6">
            <div class="text-inner align-self-start " data-aos="fade-up">
              <h2 class="font-weight-bold" style="color:rgb(110, 21, 21);">Vision & Mission Statement</h2>
            <span  style="font-size: 25px; font-weight:500;">Vision</span>
            <p  style="font-size: 18px;">To be the preferred one stop business
               consulting partner for businesses which is most 
               admired for its people, partnerships and performance. </p>

               <span  style="font-size: 25px; font-weight:500;">Mission</span>

               <p  style="font-size: 18px;">Our mission is to exceed expectations in providing integrated solutions to
               create shared value for our clients, employees, shareholders,
                and communities</p>  

                <span style="font-size: 25px; font-weight:500;"> Our people</span>
                <p  style="font-size: 18px;"  >We believe that our most important asset is our client 
                  reputation and the key to building that reputation lies 
                  with each and every employee.  That’s why we attract and 
                  retain the best and brightest employees by providing 
                  exceptional wages and world-class benefits.</p>
          
          </div>
            </div>
            </div>
            </div>

            
            <div class="container-fluid">
                <div class="section-2-blocks-wrapper row no-gutters">
                <div class="text col-md-6">
                <div class="text-inner align-self-center" data-aos="fade-up">
                    <h2 class="font-weight-bold" style="color:rgb(110, 21, 21);">Our Core Values</h2>
        
                <span style="font-size: 25px; font-weight:500;">Integrity</span>
                  <p> We value honesty, trustworthiness and high ethical standards.
                    We strive to be transparent and objective in our client and internal interactions.</p>
                
                    <span style="font-size: 25px; font-weight:500;">Excellence</span>
                    <p> We strive for excellent performance in everything we do.</p>
                    <span style="font-size: 25px; font-weight:500;">Innovation</span>

                     <p>We value innovation efforts, ideas and methods to
                       continually improve our business processes.</p>


                       <span style="font-size: 25px; font-weight:500;">Commitment</span>

                 <p>We are committed to what we do. We are devoted to our
                    clients, to putting them first and always delivering the best.</p>

                    <span style="font-size: 25px; font-weight:500;">Respect</span>

                  <p>It is our belief that everyone has something of value to contribute.
                      We respect diversity and treat every individual with honour and fairness
                          regardless of Age, Race, Sex or Creed.</p>
                   </div>
                </div>
                <div class="img col-sm-12 col-md-6" style="background-image: url('images/core1.jpg');" data-aos="fade-right">
                  <!--<a href="https://vimeo.com/45830194" class="button popup-vimeo" data-aos="fade-right" data-aos-delay="700"><span class="ion-ios-play"></span></a>-->
                  </div>
                 
                </div>
                </div>
            </section>

            
            <!--<div class="ftco-section bg-light">
            <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center" data-aos="fade-up">
            <h2>Our Attorneys</h2>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-6 col-md-4 mb-4" data-aos="fade-up">
            <div class="block-10">
            <div class="person-info mb-3">
            <span class="name">Myla Smith</span>
            <span class="position">Counsel</span>
            </div>
            <img src="images/person_1.jpg" alt="" class="img-fluid">
            </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4" data-aos="fade-up">
            <div class="block-10">
            <div class="person-info mb-3">
            <span class="name">Aldin Powell</span>
            <span class="position">Head of International Practice</span>
            </div>
            <img src="images/person_3.jpg" alt="" class="img-fluid">
            </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4" data-aos="fade-up">
            <div class="block-10">
            <div class="person-info mb-3">
            <span class="name">Clarice Clark</span>
            <span class="position">Managing Partner, Attorney</span>
            </div>
            <img src="images/person_2.jpg" alt="" class="img-fluid">
            </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4" data-aos="fade-up">
            <div class="block-10">
            <div class="person-info mb-3">
            <span class="name">Myla Smith</span>
            <span class="position">Counsel</span>
            </div>
            <img src="images/person_1.jpg" alt="" class="img-fluid">
            </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4" data-aos="fade-up">
            <div class="block-10">
            <div class="person-info mb-3">
            <span class="name">Aldin Powell</span>
            <span class="position">Head of International Practice</span>
            </div>
            <img src="images/person_3.jpg" alt="" class="img-fluid">
            </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4" data-aos="fade-up">
            <div class="block-10">
            <div class="person-info mb-3">
            <span class="name">Clarice Clark</span>
            <span class="position">Managing Partner, Attorney</span>
            </div>
            <img src="images/person_2.jpg" alt="" class="img-fluid">
            </div>
            </div>
            </div>
            </div>
            </div>-->
            <footer class="ftco-footer ftco-bg-dark ftco-section">

              <% include ./partials/footer %>
            </footer>
            
          <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>-->
            
        <div>
        <% include ./partials/scripts %>
        </div>
</body>
</html>