<!DOCTYPE html>
 <html lang="en">

    <head>
        
    	    <% include ./partials/businesshead %>
		<!-- Title  -->
		<title>Our Products</title>

		  </head>

    <body  style="Background-color:white!important;">
    
    
    	<!-- =====================================
    	==== Start Loading -->

    	<div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div>
        
    	<!-- End Loading ====
    	======================================= -->

                 
<!--<nav class="navbar navbar-expand-lg ">-->
    
<nav class="navbar navbar-expand-lg">


        <% include ./partials/businessNav %>
    </nav>
 
        <!-- =====================================
        ==== Start Services Tabs -->

	<!--	<nav class="navbar navbar-expand-lg">
                <div class="container">-->
    
                <!-- Logo -->
            <!--   <a class="navbar-brand" href="index.html"><span class=""></span> <img src="images/logoRC.png" style="height:20%; width:20%;"alt=""></a>
      
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="practice.html" class="nav-link">Recruitment/Outsourcing </a></li>
                    <li class="nav-item"><a href="won.html" class="nav-link">Our Products</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link"> About Us</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    </ul>
                    </div>
                    
                </div>
            </nav>-->
    
        <section class="serv-tabs section-padding bg-img" data-overlay-dark="7" data-background="images/img4.jpg" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    
                     <div class="section-head col-sm-12">
                        <h4>
                            <span>Our</span><br>
                            Products
                        </h4>
                                                                 
                    </div>

                    <div class="tabs col-sm-12">

                        <div class="tabs-icon row">

                            <div id="tab-1" data-scroll-nav="0" class=" col-md-3 col-sm-6 item buttonsproduct">
                                <div>
                                <!--   <span class="icon"><i class="icofont icofont-laptop-alt"></i></span>-->
                                    <span><b>Business Strategy & Planning</b></span>
                                </div>
                            </div>

                            <div id="tab-2" data-scroll-nav="1" class="col-md-3 col-sm-6 item buttonsproduct">
                                <div>
                                      <span><b>Recruitment/Outsourcing Services</b></span>
                                </div>
                            </div>


                            <div id="tab-3" data-scroll-nav="2" class="col-md-3 col-sm-6 item buttonsproduct">
                                <div>
                                      <span><b>Management/Business Consulting</b></span>
                                </div>
                            </div>

                                 
                         </div>

                         <div class="tabs-icon row">

                            <div id="tab-4" data-scroll-nav="4" class=" col-md-3 col-sm-6 item buttonsproduct">
                                <div>
                                <!--   <span class="icon"><i class="icofont icofont-laptop-alt"></i></span>-->
                                    <span><b>Market Research & Business Analytics</b></span>
                                </div>
                            </div>

                            <div id="tab-2" data-scroll-nav="5" class="col-md-3 col-sm-6 item buttonsproduct">
                                <div>
                                      <span><b>Business Leadership/Coaching</b></span>
                                </div>
                            </div>


                            <div id="tab-3" data-scroll-nav="6" class="col-md-3 col-sm-6 item buttonsproduct">
                                <div>
                                      <span><b>Mystrey Shopping Services</b></span>
                                </div>
                            </div>

                        
                    </div>

                    
                    <div class="tabs-icon row">

                        <div id="tab-5" data-scroll-nav="7" class=" col-md-9 col-sm-12 item buttonsproduct">
                            <div>
                            <!--   <span class="icon"><i class="icofont icofont-laptop-alt"></i></span>-->
                                <span><b>Motivational Speaking</b></span>
                            </div>
                        </div>

                </div>
                </div>
            </div>
        </section>


        

        <!-- End Services Tabs ====
        ======================================= -->


        <!-- End Team ====
        ======================================= -->


    	<!-- =====================================
    	==== Start Price -->

    	<section class="price section-padding bg-gray" data-scroll-index="0">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>Business Strategy &</span><br>
                            Planning
                        </h4>
                    </div>
                    <div class="col-md-8" >
                            <div class="features">
                        
                        <div class="item text-justify mb-md50" style="padding-left: 50px; padding-right:50px;" >
                             
                          
                                   <p> Strategic Business Planning is increasingly being utilized as an essential tool. Properly done and implemented
                                    it is a roadmap for business operations, strategy and financing. It provides action plans and benchmarks to
                                    track progress and help you adjust tactics, ensuring profitable growth. But what is best for you? Our
                                    Associates have the expertise to help decide, plan, implement and to obtain the Business Financing that you
                                    need.</p>
                                    <p>&nbsp;</p>
                                   <p> Our Strategic Business Planning Services include; Consulting and advisory roles helping with business
                                    succession & transition planning; from plan development and implementation, to organization structure,
                                    building strong organizational culture, business strategies and operational efficiencies, Sales and Marketing
                                    Strategies and implementation, monitoring and change management, Business Financing; conventional or
                                    alternative sources, Business Acquisition and M&A / Due Diligence Services.</p>
                                    <p>&nbsp;</p>
                                    <p>Our health check services include an assessment, to review your existing reporting solution, compare it
                                    against industry best practices and make recommendations for improvement. With a roadmap, we provide a
                                    forward looking enterprise strategy tailored to your unique business needs and include a low risk iterative
                                    implementation plan to help you build a business analytics solution over time. PrimeCapital is dedicated to
                                    working closely with businesses and individuals to open up incredible new opportunities for growth,
                                    development and success. We bridge the gap between where you are and where you want to be by
                                    empowering you to take control of your own destiny. Through a variety of proven techniques, PrimeCapital
                                    services help you master the changes needed to lay the foundation for long-term, meaningful prosperity.</p>
                                </div> 
                                </div> 
                            </div>
                            </div>
                        </div>
                      </div>
            </div>
        </section>

        <section class="price section-padding bg-gray" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>Recruitment/Outsourcing</span><br>
                            Services
                        </h4>
                    </div>
                    <div class="col-md-8" >
                            <div class="features">
                        
                        <div class="item text-justify mb-md50" style="padding-left: 50px; padding-right:50px;" >


                           <p> <b>PrimeCapital</b> is recognized leader in delivering recruitment outsourcing for permanent and/or contingent
                            workforces, and is known for its unbounded vision and partnership-driven approach. Having the best talent
                            is a competitive advantage in today's demanding and complex world. Because the success of business relies
                            upon talent, acquiring the most qualified people is increasingly competitive. We know that the talent you need
                            differs across skills and geographies and we have the people, research and experience to find those critical
                            hires locally and globally.</p>

                            <p>&nbsp;</p>

                            <p><b>PrimeCapital </b>recruitment Process and Outsourcing programs provide high-volume talent acquisition
                            services for professional and non-professional positions that solve compliance, scalability, cost, quality or
                            other recruiting challenges. For more than 2 years, our customized RPO programs have been creating positive
                            and sustainable business impact and reduced risk for our clients.</p>
                                                
                        </div> 
                                </div> 
                            </div>
                            </div>
                        </div>
                      </div>
            </div>
        </section>

        <section class="price section-padding bg-gray" data-scroll-index="2">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>Management/Business</span><br>
                            Consulting

                        </h4>
                    </div>
                    <div class="col-md-8" >
                            <div class="features">
                        
                        <div class="item text-justify mb-md50" style="padding-left: 50px; padding-right:50px;" >
                             
                           <p> Our management consulting services focus on our clients' most critical issues and opportunities: strategy,
                            marketing, organization, operations, technology, transformation, digital, advanced analytics, corporate
                            finances and sustainability across all industries and geographies. Our teams hold deep expertise in the 
                            critical
                            challenges and opportunities facing business leaders today. Our firm is dynamic and so are our clients.</p>

                                <p>&nbsp;</p>
                            <p>Our philosophy is built around two simple principles: “Quality and Responsiveness.” We're committed to
                            giving you cost-effective solutions to your business problems and the excellent service you deserve. Our
                            service commitment has resulted in repeat business, referrals and long-term relationships.</p>
                                <p>&nbsp;</p>
                           <p> Our clients value our responsiveness, flexibility and authentic desire to help them meet, and often exceed,
                            their goals. They benefit from our balanced view of strategy, people, process and technology, as well as the
                            stability and innovation that comes with PrimeCapital. We strive to fully understand clients and their unique
                            business needs and to develop and implement solutions that provide measurable value quickly. We also
                            transfer our deep industry, business, and application knowledge throughout each engagement.</p>
                            


                                </div> 
                                </div> 
                            </div>
                            </div>
                        </div>
                      </div>
            </div>
        </section>
        
        <section class="price section-padding bg-gray" data-scroll-index="4">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>Market Research & </span><br>
                            Business Analytics
                        </h4>
                    </div>
                    <div class="col-md-8" >
                            <div class="features">
                        
                        <div class="item text-justify mb-md50" style="padding-left: 50px; padding-right:50px;" >
                            <p><b>Prime Capital Consulting Ltd.</b>, has been providing research, business analytics and modelling solutions to
                            clients since 2016. Our philosophy is based on partnering with our customers to understand their current and
                            future needs so that we can provide insight that meets their requirements. Whether we are analyzing a trade
                            area for new retail locations, defining geographic territories for marketing, analyzing transactions, building a
                            segmentation strategy or developing a customer defection strategy, we rely on data, best practices and
                            internal expertise to create programs that deliver results.</p>

                                <p>&nbsp;</p>
                           <p> Our team of consultants help you identify your most critical challenges while our team of expert data analysts
                            and work tirelessly behind the scene to understand your data, overlay other third party enhancement data and
                            develop custom solutions that meet your needs. Our researchers and analysts use our unique market research
                            methods to comb through websites, data repositories and government statistics, uniquely providing a 360-
                            degree overview of available data, combined with original analysis that is quickly accessible, comprehensive,
                            objective, actionable, cost-effective and, most of all, intelligent.</p>
                                                   
                        
                        </div> 
                                </div> 
                            </div>
                            </div>
                        </div>
                      </div>
            </div>
        </section>
        
        
        <section class="price section-padding bg-gray" data-scroll-index="5">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>Business Leadership/ </span><br>
                            Coaching
                        </h4>
                    </div>
                    <div class="col-md-8" >
                            <div class="features">
                        
                        <div class="item text-justify mb-md50" style="padding-left: 50px; padding-right:50px;" >
                             
                            <p>Business and executive coaching have become increasingly popular in recent years, and are embedded in the
                            fabric of many future focused organizations. The use of an unbiased, external professional business coach to
                            support change initiatives, resolve conflict, increase employee engagement and develop underutilized
                            leadership skills is enabling organizations to better manage and retain talent and to better align individuals and
                            teams to the overall business strategy and vision. Through diagnostic conversations and a suite of individual and
                            team assessment tools, our business coaches are well equipped to create momentum and support individual and
                            organizational change.</p>

                            <p>&nbsp;</p>

                            <p>Our philosophy is to support leaders and organizations in their journey. We seek to understand the gaps between
                            where they are and where they need to get to so that we can effectively build programs and to move them forward
                            and close the gaps. For leaders, we strive to move them along the leadership continuum. We work with them to
                            enhance their ability to motivate, influence, incite passion and transcend their own self-interest for the greater
                            good of the organization and to become a transformational leader. We help businesses and business leaders learn
                            to deliver core concepts, ideas and visions with clarity and confidence.</p>
                        
                        
                        
                        </div> 
                                </div> 
                            </div>
                            </div>
                        </div>
                      </div>
            </div>
        </section>
        
        
        <section class="price section-padding bg-gray" data-scroll-index="6">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>Mystery Shopping </span><br>
                              Services
                        </h4>
                    </div>
                    <div class="col-md-8" >
                            <div class="features">
                        
                        <div class="item text-justify mb-md50" style="padding-left: 50px; padding-right:50px;" >
                           <p> Mystery Shopper or Secret Shopper, is a tool used externally by companies to measure quality of service, or
                            compliance with regulation, or to gather specific information about products and services. Your organization
                            earn great reputations when every location consistently executes against the standards you have set. Measure
                            your ability to represent your organization to your customers. Find out if your customers really experience
                            what you intend them to experience.</p>

                            <p>&nbsp;</p>
                          <p> <b> Prime Capital</b> offers mystery shopping services to organizations in Nigeria that consist of sending
                            anonymous customers, who have been screened and trained, to secretly evaluate your service the way a
                            regular customer would. Our mystery shoppers then report their experience using a pre-defined assessment
                            grid that enables you to pinpoint the very attributes and behaviors proven to drive superior customer
                            experience, effective selling techniques and other critical performance attributes.</p>

                            <p>&nbsp;</p>
                           <p><b> Prime Capital </b> provides the one of the highest quality mystery shopping programs in Nigeria. To do this, we
                            first focus on screening and selecting the right mystery shoppers through a rigorous qualification process
                            based on your requirements. We have on demand a diverse and trained pool of Mystery shoppers who are
                            students, workers, disabled, young, old, pregnant, elderly etc. to fit any kind of customer profile that you
                            require. They can pretend to be scientists, installation engineers, bikers, students, foreign doctors,
                            hairdressers, plumbers, dentists, caravanners and every flavour of small business. We even have our own
                            dummy businesses with websites.</p>

                            <p>&nbsp;</p>
                         <p> We can find out why former customers switched to a competitor or whether current customers might consider
                            doing so and why - and what they say you can do to ensure they don't! Customer Satisfaction Surveys can be
                            an important first step towards achieving the ultimate goals of exceptional customer satisfaction, loyalty and
                            retention. They provide a foundation on which you can start building upon your customer relationships.
                            We then audit 100% of mystery shopping visits to check for consistency & integrity. If we feel a mystery
                            shopping visit is suspicious, we cancel it and send another mystery shopper.</p>
                            
                            <p>&nbsp;</p>
                            <p>Lastly, our visits are recorded for
                            quality assurance purposes. We offer a wide of mystery shopping
                             services these include but not limited to:</p>
                            <ul>
                                <li>Customer Care Standards Evaluation</li>
                                <li>Product Knowledge Assessment</li>
                                <li>Cross-Selling/Up-selling skills</li>
                               <li> Internal/External Appearance </li>
                                <li>Staff Dress Code Compliance </li>
                               <li> Phone Etiquette </li>
                               <li> Staff Anti-Fraud/Integrity Assessment etc</li>
                               <li> Bringing the Best Out of You</li>
                                </ul> 
                              </div> 
                                </div> 
                            </div>
                            </div>
                        </div>
                      </div>
            </div>
        </section>
        
        

        
        <section class="price section-padding bg-gray" data-scroll-index="7">
            <div class="container">
                <div class="row">
                    
                    <div class="section-head col-sm-12">
                        <h4>
                            <span>Motivational</span><br>
                              Speaking
                        </h4>
                    </div>
                    <div class="col-md-8" >
                            <div class="features">
                        
                        <div class="item text-justify mb-md50" style="padding-left: 50px; padding-right:50px;" >
                             
                          
                                   <p> Strategic Business Planning is increasingly being utilized as an essential tool. Properly done and implemented
                                    it is a roadmap for business operations, strategy and financing. It provides action plans and benchmarks to
                                    track progress and help you adjust tactics, ensuring profitable growth. But what is best for you? Our
                                    Associates have the expertise to help decide, plan, implement and to obtain the Business Financing that you
                                    need.</p>
                                    <p>&nbsp;</p>
                                   <p> Our Strategic Business Planning Services include; Consulting and advisory roles helping with business
                                    succession & transition planning; from plan development and implementation, to organization structure,
                                    building strong organizational culture, business strategies and operational efficiencies, Sales and Marketing
                                    Strategies and implementation, monitoring and change management, Business Financing; conventional or
                                    alternative sources, Business Acquisition and M&A / Due Diligence Services.</p>
                                    <p>&nbsp;</p>
                                    <p>Our health check services include an assessment, to review your existing reporting solution, compare it
                                    against industry best practices and make recommendations for improvement. With a roadmap, we provide a
                                    forward looking enterprise strategy tailored to your unique business needs and include a low risk iterative
                                    implementation plan to help you build a business analytics solution over time. PrimeCapital is dedicated to
                                    working closely with businesses and individuals to open up incredible new opportunities for growth,
                                    development and success. We bridge the gap between where you are and where you want to be by
                                    empowering you to take control of your own destiny. Through a variety of proven techniques, PrimeCapital
                                    services help you master the changes needed to lay the foundation for long-term, meaningful prosperity.</p>
                                </div> 
                                </div> 
                            </div>
                            </div>
                        </div>
                      </div>
            </div>
        </section>
        
    	<!-- End Price ====
        ======================================= -->
        
        <footer class="ftco-footer ftco-bg-dark ftco-section">

            <% include ./partials/footer %>
        </footer>
       <div>
            <% include ./partials/businessScript %>
       </div>
    </body>
</html>
